html {
  scroll-behavior: smooth;
}

/* Styling of Header */
.nav { 
  display: flex;
  background-color: white;
  color: pink;
  padding: 20px;
 
}

.menu {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  width: 95%;

}

/* About Me Part */
.intro {
  display: flex;
  flex-flow: nowrap column; 
  margin: 0px 10%;     
  align-content: center;
  background-image: url(../images/aboutmepghoto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  margin-top: 20px;
  height: 50vh;
  padding: 50px;
}
/* Typography CSS */

h1 {
  text-align: center;
  color: rgb(185, 74, 148);

}

#email {
  text-align: center;
  color: rgb(185, 74, 148);
}

.menu a {
  font-size: 18px;
  color: rgb(185, 74, 148);
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;

}

#AboutMe p {
  
  border: 1px solid ;
  position: relative;
  top: 100px;
  max-width: fit-content;
  z-index: 100;
  padding:10px;
}

.intro p {
  background-color: rgba(255,255,255,0.8);
  color: rgb(185, 74, 148);
  position: relative;
  font-size: 18px;
  top: 100px;
}

h2 {
  background-color: rgba(255,255,255,0.8);
  padding: 15px;
  height: 25px;
  color: rgb(185, 74, 148);
  font-size: 18px;
  border-bottom: 5px solid rgb(185, 74, 148); 
  text-align: end;
  
}

form {
  color:rgb(185, 74, 148);
  padding: 50px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0px 10%;  
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

}

#MyWorks a {
  text-decoration: none;
}

.footer {

  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:  rgba(204, 178, 178, 0.8);
  color: rgb(185, 74, 148);
  max-height: 100px;
}


/* Grid CSS */


#MyWorks {
 
margin: 0px 10%;
display: grid;
min-height: 500px;
height: 100vh;
gap: 10px;
grid-template-columns: 50% 50% ;
grid-template-rows: 25% 25% 25% 25%;
grid-template-areas: "xwebsite xwebsite"
                       "xwebsite xwebsite"
                      "ywebsite zwebsite"
                      "wwebsite awebsite";

  
}

#xwebsite {
  grid-area: xwebsite ;
  background-image: url(../images/xwebsite.png);
  background-repeat: no-repeat;
  background-size: cover;

}

#ywebsite {
  grid-area: ywebsite;
  background-image: url(../images/ywebsite.jpg)
}

#zwebsite {
  grid-area: zwebsite;
  background-image: url(../images/zwebsite.png);    
}

#wwebsite {
   grid-area: wwebsite;
   background-image: url(../images/wwebsite.png);
   
}

#awebsite {
  grid-area: awebsite;
  background-image: url(../images/awebsite.jpg);  
}

#ConctacMe {
  margin: 0px 5%;
}

.GridArea {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 5px;
cursor: pointer;
display: grid;  
align-content: end;
align-items: end;
}




/*Media Queries*/

@media only screen and (max-width: 1000px) {
.menu {
  margin-left: auto;
  justify-content: center;
 }


h1 {
  font-size: 24px;
}
}


@media only screen and (max-width: 600px) {
  .intro {
    margin: 20px;
    padding: 20px;
  }

  .intro p {
    
    font-size: 11px; 
  }

 
  #MyWorks {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "xwebsite ywebsite"
      "xwebsite ywebsite"
      "xwebsite wwebsite"
      "zwebsite awebsite"
      "zwebsite awebsite";
  }


  #ContactMe {
    
    margin: 20px;
  }
}
  

